
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;700&display=swap');

:root {
    --primary-color: #10B981;
}

body {
    margin: 0px;
    padding: 0%;
    font-family: 'Dosis', sans-serif;
}

.header {
    padding: 0.3rem;
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: var(--primary-color);
}



.img {
    display: block;
    padding: 1rem;
    text-align: center;
    margin: auto;
    max-width: 200px;

}

textarea {
    display: block;
    margin: auto;
    height: 15vh;
    width: 80%;
    margin-bottom: 2rem;

}

.button {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size-adjust: auto;
   
   

}

#div-output {
    margin: auto;
    border: 1px solid black;
    height: 15vh;
    width: 80%;
    margin-bottom: 10rem;
}

footer {
    background-color: var(--primary-color);
    margin-bottom: -100px;
    text-align: center;
}

#btn-translate {
    background-color: var(--primary-color);
}